.wrapper-table {
  border: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  .name-product {
    width: 345px;
    text-align: start;

    p {
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  .data-image {
    padding: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
