.wrapper-containerTypeProPage {
  padding: 0 120px;
  display: flex;

  .column-left {
    width: 20%;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }

  .column-right {
    background-color: var(--background-header-inner);
    width: 80%;
    padding-top: 5px;
    border: 1px solid var(--text-color);

    .card-Comp {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 17px;
    }

    .pagination {
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
