.wrapper-productComp {
  display: flex;
  width: 100%;
  min-height: 580px;
  height: fit-content;
  border: 1px solid #000c;

  .col-left {
    width: 40%;
    padding: 5px 5px;

    .img-big {
      height: 80%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .img-small {
      display: flex;
      justify-content: space-between;
      height: 20%;
      border-top: 1px solid var(--text-color);

      .img-children {
        width: 24%;
        padding-top: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all ease 0.3s;

          &:hover {
            cursor: pointer;
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .col-right {
    width: 60%;
    border-left: 1px solid var(--text-color);

    .title-name {
      padding: 10px 10px;
      background-color: #d9d9d9;
      text-transform: capitalize;
      font-size: 2.2rem;
      color: rgba(0, 0, 0, 0.8);
    }

    .content-details {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 10px;

      .name-label {
        font-size: 1.8rem;
        font-weight: 500;
        width: 140px;
      }

      .detail-label {
        flex: 1;
        display: flex;

        // price -------------------------------------
        .price {
          color: red;
          font-size: 2.6rem;
          font-weight: 600;
        }

        .price-discount {
          flex: 1;
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-size: 1.6rem;
          text-decoration: line-through;
          color: rgba(0, 0, 0, 0.54);
        }

        // Số lượng--------------------------------------
        .action-quantity {
          display: flex;
          align-items: center;

          svg {
            color: rgba(0, 0, 0, 0.9);
            font-size: 17px;
          }

          // -------- btn minus -------
          .minus {
            width: 50px;
            height: 40px;
            border: 1px solid rgba(0, 0, 0, 0.09);
          }
          .minus:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            &:hover {
              cursor: pointer;
              background-color: var(--background-hover);
            }
          }

          .input-text {
            width: 70px;
            height: 40px;
            text-align: center;
            font-size: 1.8rem;
            border-top: 1px solid rgba(0, 0, 0, 0.09);
            border-bottom: 1px solid rgba(0, 0, 0, 0.09);
          }

          // -------- btn plus -------
          .plus {
            width: 50px;
            height: 40px;
            border: 1px solid rgba(0, 0, 0, 0.09);
          }

          .plus:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;

            &:hover {
              cursor: pointer;
              background-color: var(--background-hover);
            }
          }
        }

        .space {
          display: flex;
          padding: 0 25px;
          justify-content: center;
          font-size: 22px;
        }

        .countInStock {
          flex: 1;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          color: var(--text-color);
        }

        // Thể loại------------------------------------------
        .type {
          font-size: 1.7rem;
          color: blue;
        }
      }

      .detailRating-label {
        display: flex;
        flex: 1;

        .rating {
          display: flex;
          align-items: center;
          font-size: 2.2rem;
          padding-right: 4px;
        }

        .space-rating {
          margin: 0 15px;
          font-size: 20px;
        }

        .selled {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          font-size: 1.8rem;
        }
      }
    }

    .content2-details {
      display: flex;
      justify-content: flex-start;
      padding: 3px 10px;

      .name-label {
        font-size: 1.8rem;
        font-weight: 500;
        width: 140px;
      }

      .detail-label {
        flex: 1;
        font-size: 1.7rem;
        color: rgba(0, 0, 0, 0.8);

        // Chi tiết sản phẩm ------------------------------------
        p {
          color: var(--text-color);
        }

        // Chi tiết nơi vận chuyển --------------------
        .content-location {
          flex: 1;
          color: rgba(0, 0, 0, 0.8);

          .send-location,
          .receive-location {
            display: flex;

            .icons {
              display: flex;
              width: 90px;
            }

            span {
              flex: 1;
              margin-left: 20px;

              &:hover {
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }

          .receive-location {
            svg {
              color: var(--blue);
              font-size: 22px;
              margin-right: 10px;
            }

            span {
              color: var(--blue);
            }
          }

          .send-location {
            svg {
              color: var(--red);
              font-size: 22px;
              margin-right: 10px;
            }

            span {
              color: var(--red);
            }
          }
        }
      }
    }

    // -------------------------------------
    .btn-action {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 45px;
      margin: 10px 0;
      padding-top: 15px;
      border-top: 1px solid var(--text-color);

      button {
        width: 40%;
        color: var(--black);
        border-radius: 20px;
        font-size: 1.8rem;
        height: 40px;
      }

      .add-to-card {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--primary);
        border-radius: 10px;

        svg {
          font-size: 22px;
          margin-right: 10px;
        }

        &:hover {
          cursor: pointer;
          color: var(--primary);
          box-shadow: 0 0 10px var(--primary);
        }
      }

      .buy-now {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--blue);
        border-radius: 10px;

        svg {
          font-size: 22px;
          margin-right: 10px;
        }

        &:hover {
          cursor: pointer;
          color: var(--blue);
          box-shadow: 0 0 10px var(--blue);
        }
      }
    }
  }
}
