.wrapper-detailOrderPage {
  width: 100%;
  min-height: 682px;
  padding: 0 120px;

  .header-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    background-color: #d5d5d5;
    border-left: 1px solid blue;
    border-right: 1px solid blue;

    svg {
      font-size: 30px;
      margin: 0 10px;
      color: green;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 2.2rem;
      font-weight: 500;
      color: red;
      letter-spacing: 0.7px;

      p {
        margin-left: 10px;
        color: blue;
        font-size: 1.8rem;
        font-style: oblique;
        margin-top: 5px;
      }
    }
  }

  .content-details {
    background-color: #e9e9e9;
    height: fit-content;
    padding-bottom: 10px;

    .info-details {
      display: flex;

      .diachi,
      .giaohang,
      .thanhtoan {
        background-color: white;
        margin: 10px;
        border-radius: 8px;

        .title-textt {
          display: flex;
          align-items: center;
          font-size: 1.7rem;
          font-weight: 500;
          text-transform: uppercase;
          color: white;
          background: #5215ff;
          padding: 5px 10px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;

          svg {
            font-size: 25px;
            margin-right: 10px;
          }
        }

        .info-text {
          padding: 5px 10px;
          font-size: 1.6rem;
        }
      }

      .diachi {
        width: 650px;

        .name {
          text-transform: uppercase;
          font-weight: 600;
        }

        .address {
          text-transform: capitalize;
        }

        .phone {
          display: flex;

          p {
            margin-left: 5px;
          }
        }
      }

      .giaohang {
        width: 288px;

        .fast {
          display: flex;
          align-items: center;

          p {
            font-weight: 500;
            margin-right: 5px;
            color: #ff9400;
          }
        }

        .delivery {
          display: flex;
          align-items: center;

          p {
            margin-left: 8px;
            font-size: 1.8rem;
            font-weight: 500;
            color: red;
          }
        }
      }

      .thanhtoan {
        flex: 1;
        text-transform: initial;

        .name {
          font-style: oblique;
          color: blue;
          font-weight: 500;
          text-decoration: underline;
        }

        .status {
          display: flex;
          align-items: center;

          p {
            margin-left: 8px;
            font-style: oblique;
            color: red;
          }
        }
      }
    }

    .product-details {
      position: relative;
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin: 0 10px;
      font-size: 1.6rem;
      background-color: white;

      .sanphamsoit {
        display: flex;
        height: 188px;

        .image {
          width: 180px;
          height: 100%;
          color: red;
          padding: 8px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.3s;

            &:hover {
              cursor: pointer;
              transform: scale(0.9);
            }
          }
        }

        .info-product {
          width: 720px;
          padding: 8px 0;

          .name {
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-transform: capitalize;
            background-color: #efefef;
            font-weight: 500;
            padding: 0 5px;
            margin-bottom: 12px;
          }

          .quantity,
          .price,
          .discount {
            display: flex;
            margin-top: 5px;
            padding: 0 5px;
            line-height: 18px;

            p {
              width: 90px;
            }
          }
        }
      }

      .sanphamsonhieu {
        display: flex;
        height: 188px;

        .image {
          width: 180px;
          height: 100%;
          color: red;
          padding: 8px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.3s;

            &:hover {
              cursor: pointer;
              transform: scale(0.9);
            }
          }
        }

        .info-product {
          width: 720px;
          padding: 8px 0;

          .name {
            word-wrap: break-word;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            text-transform: capitalize;
            background-color: #efefef;
            font-weight: 500;
            padding: 0 5px;
            margin-bottom: 12px;
          }

          .quantity,
          .price,
          .discount {
            display: flex;
            margin-top: 5px;
            padding: 0 5px;
            line-height: 18px;

            p {
              width: 90px;
            }
          }
        }
      }

      .price-container {
        position: absolute;
        right: 0;
        height: calc(100% - 16px);
        width: 28%;
        margin: 8px;
        border: 1px solid blue;

        .text-title {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          font-size: 1.9rem;
          font-weight: 500;
          background-color: #e9e9e9;
          color: blue;
        }

        .acbkkkk {
          position: relative;
          height: calc(100% - 35px);
          width: 100%;
          padding: 2px 5px;

          .name-product {
            display: flex;

            .ten {
              width: 225px;
              word-wrap: break-word;
              white-space: normal;
              overflow: hidden;
              display: -webkit-box;
              text-overflow: ellipsis;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              font-style: oblique;
            }

            .gia {
              color: blue;
              font-style: oblique;
              flex: 1;
              text-align: end;
            }
          }

          .tam-tinh {
            margin-top: 5px;
          }

          .tam-tinh,
          .delivery,
          .discount,
          .total-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            p {
              font-style: oblique;
            }
          }

          .space {
            position: absolute;
            border: 1px solid blue;
            margin-right: 5px;
            right: 0;
            width: 38%;
            bottom: 32px;
          }

          .total-price {
            position: absolute;
            font-weight: 500;
            font-size: 1.7rem;
            width: 100%;
            bottom: 0;
            left: 0;
            padding: 5px;
            color: red;
          }
        }
      }
    }
  }
}
