.wrapper-containerHomePage {
  margin: 0 120px;
  background-color: var(--background);

  .wrapper-typeProductComp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid red;
    background-color: var(--white);
  }

  .wrapper-sliderPage {
    margin: 0 30px;
  }

  .wrapper-homePage {
    margin: 30px 0;
    border-top: 1px solid var(--primary);

    .wrapper-cardPage {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 20px;
    }

    .btn-more {
      display: flex;
      justify-content: center;
      height: 50px;
      margin-top: 15px;

      button {
        padding: 10px 50px;
        border-radius: 10px;
        font-size: 1.8rem;
        font-weight: 600;
        background-color: var(--blue);
        color: var(--white);

        &:hover {
          background-color: var(--red);
          color: var(--white);
        }
      }
    }
  }
}
